version: '3.8'

services:
  web:
    build: .
    command: >
      sh -c "python manage.py migrate &&
             gunicorn --bind 0.0.0.0:8000 backend.wsgi:application"
    volumes:
      - .:/app
    ports:
      - "8002:8000"
    env_file:
      - .env
